apiVersion: v1
kind: ConfigMap
metadata:
  name: mirrord-configmap
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "mirrord-operator.labels" . | nindent 4 }}
data:
  agent-config.yaml: |-
    {{- $extraHasInjectHeaders := and .Values.agent.extraConfig (kindIs "map" .Values.agent.extraConfig) (hasKey .Values.agent.extraConfig "inject_headers") }}
    {{- $agentPriorityClassName := include "mirrord-operator.agentPriorityClassName" . | trim }}
    {{- $extraPriorityClassName := include "mirrord-operator.agentExtraConfigPriorityClassName" . | trim }}
    {{- if .Values.agent }}
    {{- if .Values.agent.image }}
    {{- if kindIs "map" .Values.agent.image }}
    image:
      {{- if .Values.agent.image.registry }}
      registry: "{{ .Values.agent.image.registry }}"
      {{- end }}
      {{- if .Values.agent.image.tag}}
      tag: "{{ .Values.agent.image.tag }}"
      {{- end }}
    {{- else }}
    image: "{{ .Values.agent.image }}"
    {{- end }}
    {{- end }}
    {{- end }}
    {{- if not $extraHasInjectHeaders }}
    inject_headers: {{ .Values.agent.injectHeaders | default true }}
    {{- end }}
    {{- if and $agentPriorityClassName (not $extraPriorityClassName) }}
    priority_class: {{ $agentPriorityClassName | quote }}
    {{- end }}
    {{- if .Values.operator.imagePullSecrets }}
    image_pull_secrets:
    {{- range .Values.operator.imagePullSecrets }}
    - {{ toYaml . }}
    {{- end }}
    {{- end }}
    {{- if .Values.agent.extraConfig }}
    {{- .Values.agent.extraConfig | toYaml | nindent 4 }}
    {{- end }}
  mysql-branch-config.yaml: |-
    {{- if and .Values.operator.dbBranching .Values.operator.mysqlBranchConfig }}
    {{- toYaml .Values.operator.mysqlBranchConfig | nindent 4 }}
    {{- end }}
  pg-branch-config.yaml: |-
    {{- if and .Values.operator.dbBranching .Values.operator.pgBranchConfig }}
    {{- toYaml .Values.operator.pgBranchConfig | nindent 4 }}
    {{- end }}
  mongodb-branch-config.yaml: |-
    {{- if and .Values.operator.dbBranching .Values.operator.mongodbBranchConfig }}
    {{- toYaml .Values.operator.mongodbBranchConfig | nindent 4 }}
    {{- end }}
  {{- if .Values.operator.multiCluster.enabled }}
  multicluster-config.yaml: |-
    clusterName: {{ .Values.operator.multiCluster.clusterName | default "primary" | quote }}
    defaultCluster: {{ .Values.operator.multiCluster.defaultCluster | quote }}
    managementOnly: {{ .Values.operator.multiCluster.managementOnly | default false }}
    remoteSessionTimeoutSecs: {{ .Values.operator.multiCluster.remoteSessionTimeoutSecs | default 120 }}
    sessionTtlSecs: {{ .Values.operator.multiCluster.sessionTtlSecs | default 60 }}
  {{- if .Values.operator.multiCluster.clusters }}
  clusters-config.yaml: |-
    clusters:
    {{- range $clusterName, $clusterConfig := .Values.operator.multiCluster.clusters }}
      - name: {{ $clusterName | quote }}
        server: {{ $clusterConfig.server | quote }}
        {{- if $clusterConfig.namespace }}
        namespace: {{ $clusterConfig.namespace | quote }}
        {{- end }}
        {{- if $clusterConfig.caData }}
        caData: {{ $clusterConfig.caData | quote }}
        {{- end }}
        {{- if $clusterConfig.isDefault }}
        isDefault: {{ $clusterConfig.isDefault }}
        {{- end }}
        authType: {{ required "Please set an authType for multi cluster authentication." $clusterConfig.authType | quote }}
        {{- if $clusterConfig.region }}
        region: {{ $clusterConfig.region | quote }}
        {{- end }}
    {{- end }}
  {{- end }}
  {{- end }}
