apiVersion: v1
kind: ConfigMap
metadata:
  name: mirrord-configmap
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "mirrord-operator.labels" . | nindent 4 }}
data:
  agent-config.yaml: |-
    {{- if .Values.agent }}
    {{- if .Values.agent.image }}
    {{- if kindIs "map" .Values.agent.image }}
    image:
      {{- if .Values.agent.image.registry }}
      registry: "{{ .Values.agent.image.registry }}"
      {{- end }}
      {{- if .Values.agent.image.tag}}
      tag: "{{ .Values.agent.image.tag }}"
      {{- end }}
    {{- else }}
    image: "{{ .Values.agent.image }}"
    {{- end }}
    {{- end }}
    {{- end }}
    {{- if .Values.operator.imagePullSecrets }}
    image_pull_secrets:
    {{- range .Values.operator.imagePullSecrets }}
    - {{ toYaml . }}
    {{- end }}
    {{- end }}
    {{- if .Values.agent.extraConfig }}
    {{- .Values.agent.extraConfig | toYaml | nindent 4 }}
    {{- end }}
  mysql-branch-config.yaml: |-
    {{- if and .Values.operator.mysqlBranching .Values.operator.mysqlBranchConfig }}
    {{- toYaml .Values.operator.mysqlBranchConfig | nindent 4 }}
    {{- end }}
  pg-branch-config.yaml: |-
    {{- if and .Values.operator.pgBranching .Values.operator.pgBranchConfig }}
    {{- toYaml .Values.operator.pgBranchConfig | nindent 4 }}
    {{- end }}