apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: mirrord-operator
  name: mirrord-operator
  namespace: {{ .Values.namespace }}
spec:
  selector:
    matchLabels:
      app: mirrord-operator
  template:
    metadata:
      labels:
        app: mirrord-operator
    spec:
      {{- if .Values.operator.imagePullSecrets }}
      imagePullSecrets:
        {{- range .Values.operator.imagePullSecrets }}
        - {{ toYaml . }}
        {{- end }}
      {{- end }}
      containers:
      - env:
        - name: RUST_LOG
          value: mirrord=info,operator=info
        - name: OPERATOR_ADDR
          value: 0.0.0.0:3000
        - name: OPERATOR_NAMESPACE
          value: {{ .Values.namespace }}
        - name: OPERATOR_SERVICE_NAME
          value: mirrord-operator
        - name: OPERATOR_TELEMETRY_ENABLED
          value: {{ .Values.operator.disableTelemetries | ternary "false" "true" | quote }}
        - name: OPERATOR_AGENT_CONFIG
          value: /mirrord-config/agent-config.yaml
        {{- if or (index .Values.tls.data "tls.key") .Values.tls.certManager.enabled }}
        - name: OPERATOR_TLS_CERT_PATH
          value: /tls/tls.crt
        - name: OPERATOR_TLS_KEY_PATH
          value: /tls/tls.key
        {{- end }}
        {{- if or .Values.license.file.data .Values.license.pemRef }}
        - name: OPERATOR_LICENSE_PATH
          value: /license/license.pem
        {{- else if .Values.license.key }}
        envFrom:
        - secretRef:
            name: {{ .Values.license.file.secret }}
        {{- else if .Values.license.keyRef }}
        envFrom:
        - secretRef:
            name: {{ .Values.license.keyRef }}
        {{- else }}
          {{- required "Either keyRef, pemRef, file or key value is required for license!" .Values.license.keyRef }}
        {{- end }}
        image: {{ .Values.operator.image }}:{{ .Chart.AppVersion }}
        imagePullPolicy: IfNotPresent
        {{- if .Values.operator.containerArgs }}
        args:
          {{- range .Values.operator.containerArgs }}
          - {{ toYaml . }}
          {{- end }}
        {{- end }}
        livenessProbe:
          httpGet:
            path: /health
            port: 3000
            scheme: HTTPS
          periodSeconds: 5
        name: mirrord-operator
        ports:
        - containerPort: 3000
          name: https
        readinessProbe:
          httpGet:
            path: /health
            port: 3000
            scheme: HTTPS
          periodSeconds: 5
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
          limits:
            cpu: {{.Values.operator.limits.cpu}}
            memory: {{.Values.operator.limits.memory}}
        securityContext:
          allowPrivilegeEscalation: false
          privileged: false
        volumeMounts:
        {{- if or (index .Values.tls.data "tls.key") .Values.tls.certManager.enabled }}
        - mountPath: /tls
          name: tls-volume
        {{- end }}
        - mountPath: /mirrord-config
          name: mirrord-config-volume
        {{- if or .Values.license.file.data .Values.license.pemRef }}
        - mountPath: /license
          name: license-volume
        {{- end }}
      serviceAccountName: {{ .Values.sa.name }}
      volumes:
      - name: mirrord-config-volume
        configMap:
          name: mirrord-configmap
      {{- if or (index .Values.tls.data "tls.key") .Values.tls.certManager.enabled }}
      - name: tls-volume
        secret:
          secretName: {{ .Values.tls.secret }}
      {{- end }}
      {{- if .Values.license.file.data }}
      - name: license-volume
        secret:
          secretName: {{ .Values.license.file.secret }}
      {{- end }}
      {{- if .Values.license.pemRef }}
      - name: license-volume
        secret:
          secretName: {{ .Values.license.pemRef }}
      {{- end }}
