apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: mirrord-operator
    component: operator
    app.kubernetes.io/component: operator
    {{- include "mirrord-operator.labels" . | nindent 4 }}
  name: mirrord-operator
  namespace: {{ .Values.namespace }}
spec:
  selector:
    matchLabels:
      app: mirrord-operator
  replicas: {{ .Values.operator.replicas }}
  template:
    metadata:
      labels:
        {{- include "mirrord-operator.labels" . | nindent 8 }}
        app: mirrord-operator
        component: operator
        app.kubernetes.io/component: operator
        {{- if .Values.operator.podLabels }}
          {{- toYaml .Values.operator.podLabels | nindent 8 }}
        {{- end }}
      annotations:
        {{- if .Values.operator.podAnnotations }}
          {{- toYaml .Values.operator.podAnnotations | nindent 8 }}
        {{- end }}
    spec:
      {{- if .Values.operator.hostAliases }}
      hostAliases:
        {{- toYaml .Values.operator.hostAliases | nindent 8 }}
      {{- end }}
      {{- if .Values.operator.imagePullSecrets }}
      imagePullSecrets:
        {{- range .Values.operator.imagePullSecrets }}
        - {{ toYaml . }}
        {{- end }}
      {{- end }}
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        {{/* Allow low port using ip_unprivileged_port_start */}}
        {{- if lt (int .Values.operator.port) 1024 -}}
        sysctls:
        - name: net.ipv4.ip_unprivileged_port_start
          value: {{ .Values.operator.port | quote}}
        {{- end }}
      {{- if .Values.operator.tolerations }}
      tolerations:
        {{- toYaml .Values.operator.tolerations | nindent 8 }}
      {{- end }}
      {{- with .Values.operator.nodeSelector }}
      nodeSelector:
        {{- toYaml . | trim | nindent 8 }}
      {{- end }}
      {{- with .Values.operator.affinity }}
      affinity:
        {{- toYaml . | trim | nindent 8 }}
      {{- end }}
      containers:
      - env:
        - name: RUST_LOG
          value: {{ .Values.operator.logLevel }}
        - name: OPERATOR_ADDR
          value: {{ printf "0.0.0.0:%d" (int .Values.operator.port ) }}
        - name: OPERATOR_POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: OPERATOR_NAMESPACE
          value: {{ .Values.namespace }}
        - name: OPERATOR_SERVICE_NAME
          value: mirrord-operator
        - name: OPERATOR_TELEMETRY_ENABLED
          value: {{ .Values.operator.disableTelemetries | ternary "false" "true" | quote }}
        {{ if .Values.operator.maxSessionTimeSeconds }}
        - name: OPERATOR_MAX_SESSION_TIME_SECONDS
          value: {{ .Values.operator.maxSessionTimeSeconds | quote }}
        {{- end }}
        - name: OPERATOR_SQS_SPLITTING
          value: {{ .Values.operator.sqsSplitting | ternary "true" "false" | quote }}
        - name: OPERATOR_KAFKA_SPLITTING
          value: {{ .Values.operator.kafkaSplitting | ternary "true" "false" | quote }}
        - name: OPERATOR_MYSQL_BRANCHING
          value: {{ .Values.operator.mysqlBranching | ternary "true" "false" | quote }}
        - name: OPERATOR_PG_BRANCHING
          value: {{ .Values.operator.pgBranching | ternary "true" "false" | quote }}
        {{- if .Values.operator.applicationPauseAutoSync }}
        - name: OPERATOR_APPLICATION_PAUSE_AUTO_SYNC
          value: "true"
        {{- end }}
        - name: OPERATOR_METRICS_ENABLED
          value: {{ .Values.operator.metrics | ternary "true" "false" | quote }}
        - name: OPERATOR_JSON_LOG
          value: {{ .Values.operator.jsonLog | ternary "true" "false" | quote }}
        - name: OPERATOR_AGENT_CONFIG
          value: /mirrord-config/agent-config.yaml
        - name: OPERATOR_MYSQL_BRANCH_CONFIG
          value: /mirrord-config/mysql-branch-config.yaml
        - name: OPERATOR_PG_BRANCH_CONFIG
          value: /mirrord-config/pg-branch-config.yaml
        {{- if or (index .Values.tls.data "tls.key") .Values.tls.certManager.enabled }}
        - name: OPERATOR_TLS_CERT_PATH
          value: /tls/tls.crt
        - name: OPERATOR_TLS_KEY_PATH
          value: /tls/tls.key
        {{- end }}
        {{- if .Values.agent.tls }}
        - name: OPERATOR_AGENT_CONNECTION_TLS
          value: "true"
        {{- end }}
        {{- if .Values.agent.port }}
        - name: OPERATOR_AGENT_PORT
          value: {{ .Values.agent.port | quote }}
        {{- end }}
        {{- if .Values.operator.noPodTargetsSessionTimeoutMillis }}
        - name: OPERATOR_NO_POD_TARGETS_SESSION_TIMEOUT_MILLIS
          value: {{ .Values.operator.noPodTargetsSessionTimeoutMillis | quote }}
        {{- end }}
        {{- if .Values.operator.idleKafkaSplitTtlMillis}}
        - name: OPERATOR_KAFKA_SPLITTING_TTL
          value: {{ .Values.operator.idleKafkaSplitTtlMillis | quote }}
        {{- end }}
        {{- if .Values.operator.kafkaSplittingTopicFormat }}
        - name: OPERATOR_KAFKA_SPLITTING_TOPIC_FORMAT
          value: {{ .Values.operator.kafkaSplittingTopicFormat | quote }}
        {{- end }}
        - name: OPERATOR_COPY_TARGET_USE_AGENT_IMAGE
          value: {{ .Values.operator.copyTarget.useAgentImage | ternary "true" "false" | quote }}
        {{- if .Values.license.licenseServer }}
        - name: OPERATOR_LICENSE_SERVER
          value: {{ .Values.license.licenseServer | quote }}
        {{- end }}
        - name: OPERATOR_LICENSE_ALLOW_SEAT_OVERAGES
          value: {{ .Values.license.allowSeatOverages | ternary "true" "false" | quote }}
        {{- if .Values.operator.jiraWebhookUrl }}
        - name: OPERATOR_JIRA_WEBHOOK_URL
          value: {{ .Values.operator.jiraWebhookUrl | quote }}
        {{- end }}
        - name: OPERATOR_MUTATING_WEBHOOKS
          value: "true"
        - name: OPERATOR_ISOLATE_PODS_RESTART
          value: {{ .Values.operator.isolatePodsRestart | ternary "true" "false" | quote }}
        {{- if .Values.operator.sqsSplittingLingerTimeout }}
        - name: OPERATOR_SQS_SPLITTING_LINGER_TIMEOUT
          value: {{ .Values.operator.sqsSplittingLingerTimeout | quote }}
        {{- end }}
        - name: OPERATOR_QUEUE_SPLITTING_WAIT_FOR_READY_TARGET
          value: {{ .Values.operator.queueSplittingWaitForReadyTarget | ternary "true" "false" | quote }}
        - name: OPERATOR_IMAGE
          value: {{ .Values.operator.image }}:{{ default .Chart.AppVersion .Values.operator.imageTag }}
        {{- if .Values.operator.multiCluster.enabled }}
        - name: OPERATOR_MULTI_CLUSTER_ENABLED
          value: "true"
        - name: OPERATOR_MULTI_CLUSTER_TIMEOUT_SECS
          value: {{ .Values.operator.multiCluster.remoteSessionTimeoutSecs | quote }}
        {{- if .Values.operator.multiCluster.kubeconfigPath }}
        - name: OPERATOR_MULTI_CLUSTER_KUBECONFIG_PATH
          value: {{ .Values.operator.multiCluster.kubeconfigPath }}
        {{- end }}
        {{- if .Values.operator.multiCluster.clusterContexts }}
        - name: OPERATOR_MULTI_CLUSTER_CONTEXTS
          value: {{ toJson .Values.operator.multiCluster.clusterContexts | quote }}
        {{- end }}
        {{- end }}
        {{- range $key, $val := .Values.operator.extraEnv }}
        - name: {{ $key }}
          value: {{ $val | quote }}
        {{- end }}
        {{- if .Values.license.gsmRef }}
        - name: OPERATOR_LICENSE_GSM_REF
          value: {{ .Values.license.gsmRef }}
        {{- else if or .Values.license.file.data .Values.license.pemRef }}
        - name: OPERATOR_LICENSE_PATH
          value: /license/license.pem
        {{- else if .Values.license.key }}
        envFrom:
        - secretRef:
            name: {{ .Values.license.file.secret }}
        {{- else if .Values.license.keyRef }}
        envFrom:
        - secretRef:
            name: {{ .Values.license.keyRef }}
        {{- else }}
          {{- required "Either keyRef, pemRef, gsmRef, file or key value is required for license!" .Values.license.keyRef }}
        {{- end }}
        image: {{ .Values.operator.image }}:{{ default .Chart.AppVersion .Values.operator.imageTag }}
        imagePullPolicy: {{ default "IfNotPresent" .Values.operator.imagePullPolicy }}
        {{- if .Values.operator.containerArgs }}
        args:
          {{- range .Values.operator.containerArgs }}
          - {{ toYaml . }}
          {{- end }}
        {{- end }}
        livenessProbe:
          httpGet:
            path: /health
            port: {{ .Values.operator.port }}
            scheme: HTTPS
          periodSeconds: 5
        name: mirrord-operator
        ports:
        - containerPort: {{ .Values.operator.port }}
          name: https
        {{- if .Values.operator.metrics }}
        - containerPort: 9000
          name: metrics
        {{- end }}
        readinessProbe:
          httpGet:
            path: /health
            port: {{ .Values.operator.port }}
            scheme: HTTPS
          periodSeconds: 5
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
          limits:
            cpu: {{.Values.operator.limits.cpu}}
            memory: {{.Values.operator.limits.memory}}
        securityContext:
          allowPrivilegeEscalation: false
          privileged: false
          readOnlyRootFilesystem: true
        volumeMounts:
        {{- if or (index .Values.tls.data "tls.key") .Values.tls.certManager.enabled }}
        - mountPath: /tls
          name: tls-volume
        {{- end }}
        - mountPath: /mirrord-config
          name: mirrord-config-volume
        {{- if and .Values.operator.multiCluster.enabled .Values.operator.multiCluster.kubeconfigSecret }}
        - mountPath: /etc/kubeconfig
          name: kubeconfig-volume
          readOnly: true
        {{- end }}
        {{- if or .Values.license.file.data .Values.license.pemRef }}
        - mountPath: /license
          name: license-volume
        {{- end }}
        # needed for the operator to download and use CA
        - mountPath: /tmp
          name: tmp
      serviceAccountName: {{ .Values.sa.name }}
      volumes:
      - name: mirrord-config-volume
        configMap:
          name: mirrord-configmap
      {{- if and .Values.operator.multiCluster.enabled .Values.operator.multiCluster.kubeconfigSecret }}
      - name: kubeconfig-volume
        secret:
          secretName: {{ .Values.operator.multiCluster.kubeconfigSecret }}
      {{- end }}
      {{- if or (index .Values.tls.data "tls.key") .Values.tls.certManager.enabled }}
      - name: tls-volume
        secret:
          secretName: {{ .Values.tls.secret }}
      {{- end }}
      {{- if .Values.license.file.data }}
      - name: license-volume
        secret:
          secretName: {{ .Values.license.file.secret }}
      {{- end }}
      {{- if .Values.license.pemRef }}
      - name: license-volume
        secret:
          secretName: {{ .Values.license.pemRef }}
      {{- end }}
      - emptyDir: {}
        name: tmp
