apiVersion: v1
kind: Service
metadata:
  labels:
    app: mirrord-operator
  name: {{ .Values.service.name }}
  namespace: {{ .Values.namespace }}
spec:
  ports:
  - name: https
    port: 3000
    targetPort: https
  selector:
    app: mirrord-operator
  type: ClusterIP
