apiVersion: v1
kind: Service
metadata:
  labels:
    app: mirrord-operator
    {{- include "mirrord-operator.labels" . | nindent 4 }}
  name: {{ .Values.service.name }}
  namespace: {{ .Values.namespace }}
spec:
  ports:
  - name: https
    port: {{ .Values.operator.port }}
    targetPort: https
  selector:
    app: mirrord-operator
    mirrord-operator-leader: "true"
  type: ClusterIP
