# Default values for mirrord-operator.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

namespace: mirrord

## Whether we should create the namespace or not
## If you set this to false, you must create the namespace manually
createNamespace: true

## For each namespace you'd like a namespaced role to be created in, add here.
## The chart will create a role that is required to use mirrord in the namespace
## and it can be bound via rolebinding (That you need to create yourself).
roleNamespaces: []

operator:
  image: ghcr.io/metalbear-co/operator

  jsonLog: false
  # imagePullSecrets:
  #   - name: value
  
  ## stop using container args for agent config, as now you can just use agent.extraConfig
  ## also imagePullSecrets is re-used from operator.imagePullSecrets
  # containerArgs:
  #   - '--agent-config'
  #   - '{"image_pull_secrets":[{"name":"docker"}]}'

  ## You can use this only if using Enterprise license.
  disableTelemetries: false

  ## This should be enough for around 200~ concurrent sessions.
  limits:
    cpu: 200m
    memory: 200Mi

agent:
  ## example
  ##
  ## image: 
  ##   registry: "your-internal.registry.io/metalbear-co/agent"
  ##   tag: "latest"
  ##
  ## or
  ##
  ## image: "your-internal.registry.io/metalbear-co/agent:latest"
  ##
  # image: 
    # registry: "ghcr.io/metalbear-co/mirrord"
    # tag: "latest"

  ## use this if you want to add settings that aren't covered by the values.yaml
  ## see possible settings here: https://mirrord.dev/docs/reference/configuration/#root-agent
 extraConfig:
  #   tolerations:
  #     - operator: Exists
  #   privileged: true



license:
  key: ""
  file:
    secret: mirrord-operator-license
    # data:
    #   license.pem:
  keyRef: ""
  pemRef: ""

service:
  name: mirrord-operator

sa:
  name: mirrord-operator
  
  ## aws role arn to annotate for eks iam assumption
  # roleArn: arn:aws:iam::111122223333:role/mirrord-operator-role

tls:
  secret: mirrord-operator-tls

  # if you're using a verified certificate, set this value to false.
  apiService:
    insecureSkipTLSVerify: true

  # if certmanager is disabled and no tls.key and tls.crt is set,
  # the operator will generate a self-signed certificate.
  certManager:
    enabled: false

    issuer: mirrord-operator-issuer
    certificate: mirrord-operator-tls

  data:
    tls.key: ""
    tls.crt: ""

# if you run on OpenShift, set this value to true to get a SCC in the yaml.
openshift: false
