apiVersion: v1
kind: Service
metadata:
  labels:
    app: mirrord-license-server
    {{- include "mirrord-license-server.labels" . | nindent 4 }}
  name: {{ .Values.service.name }}
  namespace: {{ .Values.namespace }}
spec:
  ports:
  - name: https
    # backward compatibility with old values.yaml
    # where we either did service.port or server.port
    # but no reason for this to match server.port.
    port: {{ or .Values.service.port 80 }}
    targetPort: https
  {{- if .Values.dashboard.enabled }}
  - name: dashboard
    port: {{ .Values.dashboard.port }}
    targetPort: dashboard
  {{- end }}
  selector:
    app: mirrord-license-server
  type: {{ .Values.service.type }}
