name: CI
on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - "**.yaml"
      - "**.tpl"
  pull_request:
    branches: [main]
    paths:
      - "**.yaml"
      - "**.tpl"

jobs:
  sanity:
    runs-on: ubuntu-latest
    name: sanity render chart
    steps:
      - uses: actions/checkout@v4
      - uses: azure/setup-helm@v4.1.0
      - run: helm template mirrord-operator --set license.key=secret --debug

  operator-install:
    runs-on: ubuntu-latest
    name: install chart
    steps:
      - uses: actions/checkout@v4
      - name: start minikube
        uses: medyagh/setup-minikube@master
        with:
          container-runtime: ${{ inputs.container-runtime }}
          cpus: 'max'
          memory: '4gb'
      - uses: azure/setup-helm@v4.1.0
      - name: prepare custom namespaces for `test_values/operator_rolenamespaces.yaml`
        run: kubectl create namespace namespace1 && kubectl create namespace namespace2
      - name: check installing the chart with various `values` yamls
        run: ./test_values_files.sh

  operator-install-and-use:
    runs-on: ubuntu-latest
    name: install chart and run session
    steps:
      - uses: actions/checkout@v4
      - name: start minikube
        uses: medyagh/setup-minikube@master
        with:
          container-runtime: ${{ inputs.container-runtime }}
          cpus: 'max'
          memory: '4gb'
      - uses: azure/setup-helm@v4.1.0
      - name: install the chart
        run: helm install mirrord-operator --set license.file.data."license\\.pem"=$MIRRORD_OPERATOR_LICENSE --set operator.disableTelemetries=true --set operator.podAnnotations."annotation\.metalbear\.co/name"="operator" --set operator.podAnnotations."annotation\.metalbear\.co/version"="latest" --set operator.podLabels."label\.metalbear\.co/name"="operator" --set operator.podLabels."label\.metalbear\.co/version"="latest" ./mirrord-operator --wait
      - name: wait for the operator status
        uses: nick-fields/retry@v3
        with:
          timeout_seconds: 10
          max_attempts: 5
          retry_wait_seconds: 1
          command: kubectl get mirrordoperators.operator.metalbear.co operator -o yaml
      - name: download latest mirrord binary
        run: curl -LO https://github.com/metalbear-co/mirrord/releases/latest/download/mirrord_linux_x86_64 && chmod +x ./mirrord_linux_x86_64
      - name: run dummy mirrord session
        run: MIRRORD_OPERATOR_ENABLE=true MIRRORD_TELEMETRY=false ./mirrord_linux_x86_64 exec -- echo whatever
      - name: get operator logs
        if: failure()
        run: kubectl logs -n mirrord deployment/mirrord-operator
