name: CI
on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - "**.yaml"
      - "**.tpl"
  pull_request:
    branches: [main]
    paths:
      - "**.yaml"
      - "**.tpl"

jobs:
  sanity:
    runs-on: ubuntu-latest
    name: helm-sanity debug
    steps:
      - uses: actions/checkout@v4
      - uses: azure/setup-helm@v4.1.0
      - run: helm template mirrord-operator --set license.key=secret --debug

  operator-install:
    runs-on: ubuntu-latest
    name: helm install & check install
    steps:
      - uses: actions/checkout@v4
      - name: start minikube
        uses: medyagh/setup-minikube@master
        with:
          container-runtime: ${{ inputs.container-runtime }}
          cpus: 'max'
          memory: '4gb'
      - uses: azure/setup-helm@v4.1.0
      - name: check installing the chart with various `values` yamls
        run: ./test_values_files.sh
      - name: install the chart
        run: helm install mirrord-operator --set license.file.data."license\\.pem"=$MIRRORD_OPERATOR_LICENSE --set operator.disableTelemetries=true --set operator.podAnnotations."annotation\.metalbear\.co/name"="operator" --set operator.podAnnotations."annotation\.metalbear\.co/version"="latest" --set operator.podLabels."label\.metalbear\.co/name"="operator" --set operator.podLabels."label\.metalbear\.co/version"="latest" ./mirrord-operator --wait
      - name: wait for the operator status
        uses: nick-fields/retry@v3
        with:
          timeout_seconds: 10
          max_attempts: 5
          retry_wait_seconds: 1
          command: kubectl get mirrordoperators.operator.metalbear.co operator -o yaml
